<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'task_list' %}">Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'team_list' %}">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'timeline' %}">Timeline</a>
    </li>
    <li class="nav-item dropdown ps-lg-2">
      <a class="nav-link ps-2" href="#" id="creation-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Create
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="creation-dropdown">
        <li><a class="dropdown-item" href="{% url 'create_task' %}">New Task</a></li>
        <li><a class="dropdown-item" href="{% url 'team' %}">New Team</a></li>
      </ul>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto">
    <form action="{% url 'timezone' %}" method="post"> {% csrf_token %}
      <div class="input-group pe-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Timezone</span>
        </div>
        {{ timezone_form }}
        <input type="submit" value="Save" class="btn btn-primary">
      </div>
    </form>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="bi-person-circle"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li><a class="dropdown-item" href="{% url 'profile' %}">Change profile</a></li>
        <li><a class="dropdown-item" href="{% url 'password' %}">Change password</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>