{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
    </div>
  </div>
  <div class="row">
    <button type="button">
      <a href="{% url 'team' %}">Go to the team page!</a>
    </button>
  </div>
  <div class="row">
    <button type="button">
      <a href="{% url 'create_task' %}" class="btn btn-lg btn-secondary">Create a new task</a>
    </button>
    <nav>
      <a href="{% url 'task_list' %}">My Tasks</a>
    </nav>
  </div>
</div>
{% endblock %}
